/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

/*Шрифты*/
@font-face{
font-family: Roboto;
src:url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
	url('../fonts/roboto-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face{
font-family: Roboto;
src:url('../fonts/fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
	url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face{
font-family: Roboto;
src:url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
	url('../fonts/roboto-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face{
font-family: Roboto;
src:url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
	url('../fonts/roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face{
font-family: Roboto;
src:url('../fonts/roboto-black-webfont.woff2') format('woff2'),
	url('../fonts/roboto-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face{
font-family: Roboto;
src:url('../fonts/roboto-light_0-webfont.woff2') format('woff2'),
	url('../fonts/roboto-light_0-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
/*Шрифты*/



/*header*/
.header {
	background-image: url('../image/backg.jpg'); 
}
.content {
	width: 1098px;
	margin-left: auto;
	margin-right: auto;
}
.content__top {
	background: url('../image/Группа 4.png') no-repeat;
}
.head {
	display: flex; 
	justify-content: space-between;
}
.head__colum {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 72px;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-right: 28px;
	margin-left: 28px;
}
.head__logo {
	border-right: 1px solid #185d97;
	padding-right: 22px;
}
.head__text {
	width: 262px;
	font-size: 20px;
	font-family: "Roboto";
	font-weight: 300;
	color: rgb(172, 200, 214);
	text-transform: uppercase;
	border-left: 1px solid #062e7e;
	padding-left: 22px;
}
.head__contact {
	display: flex;
}
.head__img {
	margin-top: 7px;
	margin-right: 9px;
}
.head__tel {}
.head__tel a {
	display: block;
	font-size: 24px;
	font-family: "Roboto";
	color: rgb(144, 183, 203);
}
.head__tel span{
	font-size: 30px;
	color: #f4f4f4;
}
.menu {}
.menu__list {
	display: flex;
}
.menu__item {
	flex: 20%;
	position: relative;
	padding: 14px 71px;
	background-color: #f8f8f8;
}
.menu__item::before{
	content: '';
	position: absolute;
	width: 1px;
	height: 42px;
	left: 0;
	top: 0;
	border-right: 2px solid #d7d7d7;
}
.menu__item:last-child {
	border-right: none;
}
.menu__link {
	font-size: 14px;
	font-family: "Roboto";
	font-weight: 300;
	color: rgb(108, 108, 108);
	text-transform: uppercase;
}
.img {}
/*header*/

/*about*/
.wrapper {}
.about {
	display: flex;
	justify-content: space-between;
	width: 925px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 45px;
}
.info {}
.info__block {
	background-image: url(../image/background-block.png);
	width: 270px;
	height: 195px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}
.info__img {
	margin-bottom: 14px;
}
.info__headline {
	font-size: 25px;
	font-family: "Roboto";
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	margin-bottom: 18px;
}
.info__menu {
	width: 270px;
}
.info__list {

}
.info__item {
	font-size: 14px;
	font-family: "Arial";
	color: #021736;
	line-height: 1.2;
	margin-bottom: 15px;
	position: relative;
	padding-left: 23px;
}
.info__item::before{
	content: '';
	position: absolute;
	left: 0;
	top: 2px;
	width: 15px;
	height: 15px;
	background-image: url(../image/LI.png);
}
/*about*/

/*box*/

.box {}
.founder {
	width: 976px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	background-color: #eaf7fd;
	margin-bottom: 40px;
}
.founder__colum {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 30px;
}
.founder__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 269px;
	height: 255px;
	margin-bottom: 25px;
	background-image: url(../image/background-founder.png);
}
.founder__img {
	margin-left: 1px;
	margin-bottom: 15px;
}
.founder__name {
	font-size: 12px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
}
.founder__name span{
	font-size: 14px;
	font-family: "Arial";
	font-weight: 700;
	color: rgb(255, 255, 255);
}
.founder__specialist {
	font-size: 13px;
	font-family: "Arial";
	color: rgb(2, 23, 54);
	font-style: italic;
	text-align: center;
	margin-bottom: 30px;
}
.founder__headline {
	font-size: 25px;
	font-family: "Roboto";
	font-weight: 700;
	color: rgb(44, 124, 201);
	text-transform: uppercase;
	margin-bottom: 20px;
}
.founder__text-blue{
	color: #124978;

}
.founder__text {
	font-size: 14px;
	font-family: "Arial";
	margin-bottom: 20px;
}

/*box*/

/*footer*/

.footer {}
.footer__top{
	background-color: #2a76c1;
	display: flex;
	align-items: center;
}
.footer__bottom{
	background-color: #064592;
	display: flex;
	align-items: center;
}
.footer__rowtop {
	margin-right: auto;
	margin-left: auto;
	width: 974px;
	height: 39px;
	display: flex;
	justify-content: space-between;
}
.footer__rowbot{
	margin-right: auto;
	margin-left: auto;
	width: 974px;
	height: 80px;
	display: flex;
	justify-content: space-between;
}
.footer__text {
	font-size: 16px;
	font-family: "Roboto";
	color: rgb(251, 253, 255);
	display: flex;
	align-items: center;
	border-right: 1px solid #6da0cb;
	border-left: 1px solid #1b579e;
	padding-right: 52px;
	padding-left: 55px;
}

.footer__text:first-child{
	border-left: none;
	padding-left: 0;
	padding-right: 52px;
}
.footer__text:last-child{
	border-right: none;
	padding-right: 0;
	padding-left: 55.5px;
}

.footer__text span{
	margin-right: 10px;
}
.footer__text img{
	padding-right: 2px;
}
.footer__text a{
	font-size: 16px;
	font-family: "Roboto";
	color: rgb(251, 253, 255);
	margin-left: 2px;
}
.footer__coloum {
	display: flex;
	align-items: center;
	margin-top: -14px;
}
.footer__coloum span{
	font-size: 13px;
	font-family: "Arial";
	color: rgb(255, 255, 255);

}
.footer__log {
	margin-right: 15px;
}

/*footer*/